body {
  margin: 0;
	background: transparent;
  font-family: tahoma, verdana, sans serif;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
main{
  margin:0;
  max-height: 90%;
}

canvas {
	margin-bottom: 0px;
	background: #fafafa;
}

#controls{
  margin-left: 1rem;
  position: absolute;
  left: 0;
  top: 0;
}

#volumeLabel{
  margin-left: 1rem;
}

section{
  margin-bottom: 0px;
}
span{
  display: none;
  background-color: transparent;
}

#playButton{
  font-size: 1.2rem;
  width: 6rem;
}

button[data-playing="yes"]:after{
  content: "Pause";
}

button[data-playing="no"]:after{
  content: "Play";
}

#fsButton{
  font-size: 1.2rem;
  width: 8rem;
}